.artist-show-background {
  background-color: #000000;
  width: 100%;
  height: 100%;
}

.artist-show-page-container {
  display: inline-block;
  min-height: 100vh;
  width: 76%;
  margin-left: 12%;
  background-color: #1b1b1b;
  box-shadow: 2px 2px 3px #000000;
}

.artist-show-albums-container {
  display: flex;
  overflow-x: auto;
}

.album-list-item-container {
  display: inline-block;
  padding: 12px;
  color: whitesmoke;
}

.album-cover-art {
  -webkit-box-shadow: 0px 0px 6px 3px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 6px 3px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 6px 3px rgba(0, 0, 0, 0.75);
}

.main-page-container {
  display: flex;
  flex-direction: row;
  position: relative;
}

.artist-info-column {
  padding-top: 3%;
  width: 15%;
  color: whitesmoke;
  font-weight: 500;
  font-size: 20px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  background-color: #1b1b1b;
  overflow-x: auto;
}

.main-page-vertical-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  position: relative;
  width: 85%;
}

.artist-show-album-info {
  padding-top: 15px;
}

.artist-show-page-title {
  font-family: "Anton", sans-serif;
  font-size: 45px;
  padding: 12px;
}

.artist-profile-photo {
  background-color: grey;
  width: 100%;
  padding-top: 100%;
}
