.featured-artists-container{
  /* border: 3px solid blue; */
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 50px;
    margin: auto;
    margin-top: 100px;
    max-width: 1200px;
}

body{
  background-color:#1b1b1b;
}

.featured-artists--item{
  /* border: 1px solid red; */
  overflow: hidden;
  max-width: 400px;
  min-width: 250px;
  height: 100%;
  text-align: center;
  border-radius: 5px;
}


.featured-artists--item{
    animation-name: fade;
    animation-duration: 1s;
    animation-iteration-count: 1;
}

.featured-artists--item img {
  transition: transform .5s ease;
        overflow: hidden;
         cursor: pointer;
}

@keyframes fade{
  from {opacity:0;}
    to {opacity:1;}
}

.featured-artists--item h4:nth-child(2){
 font-weight: 200;
 margin-bottom:-26px;
}

.featured-artists--item h4{
  margin: 30px;
    margin: 10px;
    cursor: pointer;
    color: white;
 }

 .featured-artists--item h4:hover{
font-weight: 900;
 }

 .featured-artists--item a{
  text-decoration: none;
  color: black;
 }


.featured-artists--item img{
    min-width: 100%;
    height: 200px;
    margin: auto;
}
