.featured-artists-container{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 50px;
    margin: auto;
    max-width: 1200px;
}

body {
  background-color: #1b1b1b;
}

.featured-artists--item {
  overflow: hidden;
  max-width: 400px;
  min-width: 250px;
  height: 100%;
  text-align: center;
  border-radius: 2px;
    animation-name: fade;
    animation-duration: 1s;
    animation-iteration-count: 1;
}

.featured-artists--item:hover {
  box-shadow: 24px, 2px #1b1b1b;
}


/* .home-page-album-art {
  position: relative;
  width: 180px;
  height: 100px;
}


.home-page-album-art img {
  width: 100%;

} */

.album-image-container-home{
  position: relative;
}
.play-button {
  position: relative;
  width: 50px;
  height: 50px;
  border: 3px solid #fff;
  top: -138px;
  left: 40%;
  border-radius: 30px;
}

.album-image-container-home .play-button div {
  position: absolute;
  width: 0;
  height: 0;
  border-top: 12px solid transparent;
  border-bottom: 12px solid transparent;
  border-left: 20px solid #fff;
  top: 13px;
  left: 18px;
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.featured-artists--item h4:nth-child(2) {
  font-weight: 200;
  margin-bottom: -26px;
}

.featured-artists--item h4 {
  margin: 30px;
  margin: 10px;
  cursor: pointer;
  color: white;
}

.featured-artists--item h4:hover {
  font-weight: 900;
}

.featured-artists--item a {
  text-decoration: none;
  color: black;
}

.featured-artists--item img {
  min-width: 100%;
  height: 200px;
  margin: auto;
}

