.form-fader{
    opacity: 0.8;
    position: absolute;
    width: 100%;
    animation-name: fadein;
    animation-duration: 0.0s;
    display: none;
}

@keyframes fadein{
from {opacity: 0;}
to {opacity: 0.8;}
}


.featured-master-container{
height: 500px;
    background: black;
    margin: auto;
    width: 1200px;
}

.featured-container{

    height: 100%;
    margin: auto;
    display: flex;
    align-items: right;
    position: relative;


}

.featured-photo{
    height: 100%;
    margin: auto;
    position: absolute;
    right: 0;

}


.featured-photo img{
    max-height: 100%;
    min-width: 584px;
    width: 500px;
    height: 100%;
}



.featured-info{
      float: left;
    max-height: 100%;
    width: 50%;
    border: 1px solid red;
    min-height: 100%;
}


.featured-info h1{
    color: white;
    font-size: 50px;
    text-align: center;
    margin-top: 140px;
}


