.featured-master-container{
    width: 100%;
    height: 500px;
    border: 1px solid blue;
    background: black;

    
}

.featured-container{
width: 58.5%;
height: 100%;
margin: auto;
border: 1px solid red;
display: flex;

}

.featured-photo{
width: 80%;
height: 100%;
border: 1px solid yellow;

}


.featured-photo img{
    max-height: 100%;
    max-width: 100%;
}

.featured-stack{
      max-height: 100%;
      width: 50%;
      border: 23px solid blue;
}

.featured-stack li {
    float: left;
    clear: left;
    border: 1px solid white;
}

.featured-stack img{
    max-height: 80%;
    width: 100%;
}

.featured-stack{
    border: 1px solid white;
}
