.log-form {
  width: 400px;
  margin: 0 auto;
  position: absolute;
  left: 40%;
  top: 240px;
  background-color: #222;
  border-radius: 10px;
  height: 380px;
  border: 1px solid black;
  display: grid;
}

.login-content {
  width: 80%;
  display: grid;
  margin: auto;
}

.log-form h1 {
  text-align: center;
  color: white;
  font-size: 20px;
  margin-bottom: 20px;
  margin-top: 35px;
}

.log-form input {
  height: 20px;
  width: 60%;
  padding: 10px;
  outline: none;
}

.log-form select {
  display: block;
  margin: auto;
  margin: 20px;
}

.log-form button {
  width: 77.5%;
  height: 50px;
  color: white;
  font-size: 20px;
  background-color: #555;
  border: 0;
  margin: 10px 49px 30px;
}

.log-form label {
  color: white;
  display: grid;
  grid-template-columns: max-content max-content;
  grid-gap: 5px;
}

.login-errors {
  margin: auto;
  color: red;
  margin-top: -13px;
}

.icon {
  padding: 10px;
  color: white;
  min-width: 24px;
  height: 22px;
  text-align: center;
  border: 1px solid white;
}
.input-container {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  width: 100%;
  margin-left: 50px;
  margin-bottom: 15px;
}

.hide {
  opacity: 0.2;
}

.login-photo {
  background-image: url(https://i.pinimg.com/originals/4a/cb/69/4acb69c5f7c74fc097e96ac788e4e0c6.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  width: 100%;
  height: 800px;
  z-index: 20;
  animation: fadephoto;
  animation-duration: 0s;
}

@keyframes fadephoto {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.close {
  display: none;
}

.close-button-login {
  color: white;
  top: -51px;
  position: relative;
  left: 343px;
  width: 20px;
  height: 20px;
  cursor: pointer;
  font-size: 20px;
  z-index: 20;
}

.close-button-login:hover {
  color: red;
}

#log-in-button {
  cursor: pointer;
  outline: none;
}
