.nav{
  display: flex;
  }

.nav ul{

    margin-left: auto;
    margin-right: 0;

}

.search-container{
   position: relative;
   
}

.nav-search-container{
    display: flex;
    align-items: center;

}

#search-icon{

  width: 244px;
  left:430px;
  top: 13px;
}

.nav-search{
margin-top: 8px;
height: 20px;
width: 200px;
}

.outer-nav-container{
    width: 100%;
    background-color: #222;
    position: relative;
    z-index: 50;
    /* border: 1px solid white; */
}

.nav ul li {
  
  /* float: left;
    width: 200px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 13px;
    color: white; */

    width: 200px;
    font-size: 13px;
    color: white;

}

.nav #user-dropdown li{

}


.nav{
    width: 100%;
  height: 40px;
  margin: auto;
  max-width: 1200px;
}

.nav ul{
    margin-left: auto;
    margin-right: 0;
    
}

.nav ul li{
  width: 200px;
  text-align: center;
  font-size: 13px;
  color: white;
}

.nav ul li a{
    text-decoration: none;
    color: white;
    width: 100px;
    margin-left: 30px;
    float: right;
    margin-left: auto;
    margin-right: 0;
    width: inherit;
    background:#222;

      opacity: 1;
    margin-top: 10px;
}


.login-or-signup {
  text-decoration: none;
  color: white;
  display: block;
  list-style-type: none;
  display: inline;
  float: right;
  margin-top: 6px;
  font-size: 12px;
  padding-left: 3px;
  margin-right: 1px;
  width: inherit;
  
}

#logo{
 color: white;
    font-weight: 200;
    font-size: 18px;
    margin-right: 20px;

}

 
#nav-signup{
    text-decoration: none;
    color: white;
    display: block;
    list-style-type: none;
    display: inline;
    float: right;
    margin-top: 6px;
    font-size: 12px;
    padding-left: 3px;
    margin-right: 1px;
}

#nav-login{
  text-decoration: none;
  color: white;
  display: block;
  list-style-type: none;
  display: inline;
  float: right;
  margin-top: 6px;
  font-size: 12px;
  padding-left: 3px;
  margin-right: 1px;
}

#nav-signup:hover{
  color: yellow;
  text-shadow: 2px 10px 10px red;
}
#nav-login:hover{
  color: yellow;
  text-shadow: 2px 10px 10px red;
}


#logout-tab:hover {
  background-color: #111;
  cursor: pointer;
    opacity: 1;
}

#upload-tab:hover {
  background-color: #111;
  cursor: pointer;
}

#profile-tab:hover {
  background-color: #111;
  cursor: pointer;
  opacity: 1;
}

.nav #user-dropdown li:hover {
  visibility: visible;
  opacity: 1;
}

.nav ul li a{
  opacity: 1;

}


.hide{
  display: none;
}

.nav ul li:hover ul li {
  display: block;
    opacity: 1;
}

.drop-down-tabs{
  background-color: #111;

}

#user-dropdown:hover{
  cursor: pointer;
}

.position-relative {
  position: relative;
}

