
.registerForm{
     width: 400px;
    margin: 0 auto;
    position: absolute;
    left: 40%;
    top: 240px;
    background-color: #222;
    border-radius: 10px;
    height: 480px;
    border: 1px solid black;
    display: grid;
}

.register-content{
    display: grid;
    margin: auto;
    margin-top: -10px;
}

.register-photo{
    background-image: url(https://i.pinimg.com/originals/4a/cb/69/4acb69c5f7c74fc097e96ac788e4e0c6.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    width: 100%;
    height: 800px;
    z-index: 20;
    animation: fadephoto;
    animation-duration: 0s;
}

@keyframes fadephoto{
  from {opacity: 0}
  to {opacity: 1}
}



.registerForm h1{
  text-align: center;
    color: white;
    font-size: 20px;
    margin: 0;
    margin-top: 35px;
}

.registerForm input{
    display: block;
    margin: auto;
    margin: 20px;
    height: 30px;
}

.registerForm select{
    display: block;
    margin: auto;
    margin: 20px;
}

.registerForm button{
    display: block;
    margin: auto;
    height: 50px;
    color: white;
    font-size: 20px;
    background-color: #555;
    border: 0;
    margin: 10px 20px 30px;
}

.register-errors {
    margin: auto;
    padding-bottom: 0px;
    color: red;
    margin-top: -23px;
}


.close{
    display: none;
}

.close-button{
    color: white;
    top: -17px;
    position: relative;
    left: 320px;
    width: 20px;
    height: 20px;
    cursor: pointer;
}


.close-button:hover{
  color: red;
}


.register-input-field{
  width: 70%;
}

.register-icon{
width: 35px;
margin-left: 20px;

}

.reg-item{
display: flex;
}

.account-type{
    display: inline;
    height: 40px;
    width: 230px;
}