.showRegister {
  width: 580px;
  margin: 0 auto;
  background-color: #222;
  height: 490px;
  z-index: 12;
  box-shadow: 0 1px 8px red;
  border-radius: 20px;
  position: absolute;
  transform: translate(-78%, 88%);
}

.hideRegister {
  display: none;
}

.showRegister h1 {
  font-size: 20px;
  text-align: center;
  color: white;
  padding: 20;
  margin-top: 10px;
}

.showRegister img {
  width: 140px;
  float: left;
  margin-top: -10px;
  margin-right: 20px;
}

.register-info-container {
  height: 380px;
  text-align: left;
  position: relative;
  width: 80%;
  display: grid;
  list-style-type: none;
  margin: auto;
  transition: 1s ease-in;
  padding: 10px;
  margin-top: 40px;
}

.register-info-items {
  margin-top: 10px;
  margin: auto;
}

#register-artist {
  color: white;
  font-size: large;
  font-weight: 800;
  text-decoration: none;
  border: 1px solid white;
  padding: 5px;
  cursor: pointer;
  background: #442;
  border-radius: 4px;
}

#register {
  cursor: pointer;
  outline: none;
}

#register-fan {
  color: white;
  font-size: large;
  font-weight: 800;
  text-decoration: none;
  border: 1px solid white;
  padding: 5px;
  cursor: pointer;
  background: #442;
  border-radius: 4px;
  margin-right: 20px;
}

#register-artist:hover {
  font-size: large;
  text-decoration: none;
  background: rgba(136, 160, 38, 0.4);
}

#register-fan:hover {
  font-size: large;
  text-decoration: none;
  background: rgba(136, 160, 38, 0.4);
}

#artist-description {
  margin-bottom: 45px;
  font-size: 16px;
  margin-top: 20px;
  line-height: 18px;
  display: flex;
}

#fan-description {
  margin-bottom: 45px;
  font-size: 16px;
  margin-top: 20px;
  line-height: 18px;
  display: flex;
}

.close {
  display: none;
}

.close-register-button {
  color: white;
  top: 30px;
  position: relative;
  left: 90%;
  width: 20px;
  height: 20px;
  font-size: 22px;
  cursor: pointer;
}

.close-register-button:hover {
  color: red;
}
