.showRegister{
    width: 500px;
    margin: 0 auto;
    position: absolute;
    left: 40%;
    top: 20%;
    background-color: #222;
    height: 33%;
    border-radius: 10px;
    height: 450px;
    z-index: 12;
    box-shadow: 5px 10px 18px red;
    border-radius: 20px;
}

.hideRegister{
    display: none;
}

.showRegister li{ 
    color: white;
}

.showRegister h1{
    font-size: 20px;
    text-align: center;
    color: white;
    padding: 20;

}

.showRegister img{
 width: 120px;
    float: left;
    margin-top: -10px;
    margin-right: 20px;
}

.register-info-container {
    width: 80%;
    display: grid;
    list-style-type: none;
    margin: auto;
    padding: 20px;
    transition: 1s ease-in;
    padding: 10px;
     margin-top: 40px;
}



.register-info-items{
    margin-top: 10px;
    margin: auto;
}

#register-artist{
    color: white;
    font-size: large;
    font-weight: 800;
     text-decoration: none;
     border: 1px solid white;
     padding: 5px;
     cursor: pointer;
     background: #442;
     border-radius: 4px;

}


#register-fan{
   color: white;
    font-size: large;
    font-weight: 800;
     text-decoration: none;
     border: 1px solid white;
     padding: 5px;
     cursor: pointer;
     background: #442;
     border-radius: 4px;
     margin-right: 20px;
}

#register-artist:hover{
    font-size: large;
    text-decoration: none;
    background: rgba(136, 160, 38, 0.4)
}

#register-fan:hover{
     font-size: large;
    text-decoration: none;
    background: rgba(136, 160, 38, 0.4)
}

#artist-description{
    margin-bottom: 45px;
    font-size: 14px;
    margin-top: 20px;
}


#fan-description{
    margin-bottom: 45px;
    font-size: 14px;
    margin-top: 20px;
}

.close{
    display: none;
}

.close-register-button{
    color: white;
    top: 35px;
    position: relative;
    left: 430px;
    width: 20px;
    height: 20px;
    font-size: 20px;
    cursor: pointer;
}