.close{
    display: none;
}

.close-button{
    color: white;
    top: -20px;
    position: relative;
    left: 320px;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.registerForm{
    width: 400px;
    margin: 0 auto;
    position: absolute;
    left: 42%;
    top: 20%;
    background-color: #222;
    border-radius: 10px;
    height: 450px;
    border: 1px solid black;
    display: grid;
}

.register-content{
      width: 80%;
    display: grid;
    margin: auto;
    margin-top: -20px;
}

.registerForm h1{
  text-align: center;
    color: white;
    font-size: 20px;
    /* margin-bottom: 20px; */
    margin: 0;
    margin-top: 35px;
}

.registerForm input{
    display: block;
    margin: auto;
    margin: 20px;
    height: 30px;
}

.registerForm select{
    display: block;
    margin: auto;
    margin: 20px;
}

.registerForm button{
    display: block;
    margin: auto;
    height: 50px;
    color: white;
    font-size: 20px;
    background-color: #555;
    border: 0;
    margin: 10px 20px 30px;
}

.register-errors {
    margin: auto;
    padding-bottom: 0px;
    color: red;
    margin-top: -13px;
}