.search-bar{
    height: 22px;
    width: 220px;
    margin-top: 6px;
}

.search-completer{
    border: 1px solid white;
    color: white;
    display: grid;
    width: fit-content;
}

.search-completer li{
    width: 224px;
}