.search-bar{
    height: 22px;
    width: 210px;
    margin-top: 6px;
}

.search-completer{

    color: white;
    display: grid;
    width: fit-content;
    position: absolute;
    top: 34px;
}

.nav a{
    text-decoration: none;
}

.autofill-item-container{
  height: 50px;
  width: 200px;
}

.autofill-item{
    display: flex;
    width: 227px;
 
    /* border: 1px solid white; */
}

.autofill-item:nth-child(odd) {
    background: #222;
    border: 1px solid #333;
}
.autofill-item:nth-child(even) {
    background: #783;

}
.autofill-item-container > div:hover{
    box-shadow:3px 3px 5px 6px #a6313b;
    /* background: rgb(55, 36, 27); */
}

.autofill-item-container:hover{
     cursor: pointer;
       
}

.autofill-item:hover{
    cursor: pointer;
            background: #555;

}

.autofill-item-container img{
    margin: 2px;
    max-width: 25%;
    max-height: 25%;
    border-radius: 90px;
    margin-left: 20px;
    margin-right: 15px;
    margin-bottom: 5px;
    margin-top: 5px;
}




.autofill-artist-info li{
    width: 100%;
    margin-left: 5px;

}

.autofill-artist-info li:nth-child(1){
  font-weight: 500;
  text-align: right;
  text-align: left;
  margin-bottom: -10px;
   }

   .autofill-artist-info li:nth-child(2){
    font-weight: 900;
    text-align: left;
    margin-top: -10px;
    background: none;
    }


.autofill-artist-info li{
  max-width: 100%;
  max-height: 100%;
  list-style-type: none;
  font-size: 12px;

  }
  #artist-first-letter{
    margin: 2px;
    min-width: 15%;
    border-radius: 100px;
    margin-left: 20px;
    margin-right: 10px;
    background: grey;
    height: 35px;
    margin-bottom: 5px;
    text-decoration: none;

}